* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-image: url('https://freesvg.org/img/playablechessboardcolored3.png');
    background-repeat: repeat;
}

header {
    background-color: #8F8F8F;
    padding: 2rem;
    text-align: center;
    font-family: Roboto;
}

header > p {
    margin-top: 3rem;
    font-size: 3rem;
}

h1 {
    font-size: 5rem;
}