* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-image: url('./pictures/checker-board.png');
    background-repeat: repeat;
}

h1 {
    font-size: 5rem;
}

nav.navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    list-style-type: none;
    width: 100%;
    background-color: #8F8F8F;
    overflow: auto;
    font-size: 1.6rem;
}

li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: black;
    text-align: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

li a.active {
    background-color: black;
    color: whitesmoke;
}

li a:hover:not(.active) {
    background-color: #707070;
    color: whitesmoke;
}
