* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-image: url('https://freesvg.org/img/playablechessboardcolored3.png');
    background-repeat: repeat;
}

header {
    background-color: grey;
    padding: 2rem;
    text-align: center;
    font-family: Roboto;
}

header > p {
    margin-top: 3rem;
    font-size: 3rem;
}

h1 {
    font-size: 5rem;
}

nav.navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    list-style-type: none;
    width: 100%;
    margin: 2rem ;
    background-color: #8F8F8F;
    overflow: auto;
    font-size: 1.6rem;
}

li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: black;
    text-align: center;
}

li a.active {
    background-color: black;
    color: whitesmoke;
}

li a:hover:not(.active) {
    color: whitesmoke;
}



