* {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-image: url('../images/checkerpattern.png');
    background-repeat: repeat;
}

h1 {
    font-size: 5rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    list-style-type: none;
    width: 100%;
    overflow: auto;
    font-size: 1.6rem;
}

li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    color: black;
    text-align: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

ol {
    font-size: 1.6rem;
}

table {
    font-size: 2rem;
}

footer {
    font-size: 1.6rem;
}

li a.active {
    background-color: black;
    color: whitesmoke;
}

li a:hover:not(.active) {
    color: whitesmoke;
}

nav.navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


div.col-md-4 > strong {
    font-size: 2rem;
    border:solid black 1px;
    background-color: rgba(255,255,255);
    padding: 1rem;
    border-radius: 1rem;
    display: block;
}

#user-post {
    font-size: 1.6rem;
}




@media screen and (max-width: 576px) {
    ul {
        flex-direction: column;
        width: 100%;
    }
    
    li a {
        padding: 1.5rem;
    }
}
